.navbar {
  .nav-item {
    margin-right: 25px;
    .nav-link {
      font-size: 14px;
      color: $color-grey;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      padding-bottom: 30px;
      padding-top: 30px;

      @include media-breakpoint-down(md) {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    &.active {
      color: black;
    }
  }
}

footer {
  background: $light-grey;
  padding: 50px 0 70px 0;
  a {
    padding: 8px;
  }
}